<!--<div class="page-holder d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
        <div class="pr-lg-5"><img src="/assets/img/illustration.svg" alt="" class="img-fluid"></div>
      </div>
      <div class="col-lg-5 px-lg-4">
        <h1 class="text-base text-primary text-uppercase mb-4">Spring Inventory Application</h1>
        <h2 class="mb-4">Welcome back!</h2>
        <p class="text-muted">Manage your own product and warehouse in modern way.</p>
        <form id="loginForm" (ngSubmit)="login(f)" #f="ngForm">
          <div class="form-group mb-4">
            <input type="text" name="username" placeholder="Username" class="form-control border-0 shadow form-control-lg" ngModel required>
          </div>
          <div class="form-group mb-4">
            <input type="password" name="password" placeholder="Password" class="form-control border-0 shadow form-control-lg text-violet" ngModel required>
          </div>
          <div class="form-group mb-4" *ngIf="invalidLogin">
            <p style="font-size: 20; color: #FF1C19;">Invalid Username or Password!</p>
          </div>
          <div class="form-group mb-4">
            <p style="font-size: 20; color: #FF1C19;">You successfully logged out</p>
          </div>
          <button type="submit" class="btn btn-primary shadow px-5">Log in</button>&nbsp;
          <a href="register.html" th:href="@{/register}" role="button" class="btn btn-danger">Sign Up</a>
        </form>
      </div>
    </div>
    <p class="mt-5 mb-0 text-gray-400 text-center">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a> & Your company</p> -->
    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)                 
  </div>
</div>-->
<section id="login">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column" id="loginForm" (ngSubmit)="login(f)" #f="ngForm">
      <mat-form-field>
        <input 
          type="text" matInput placeholder="Your Username" ngModel name="username"
          required
          #usernameInput="ngModel"
          >
          <mat-error *ngIf="usernameInput.hasError('required')">username must not be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input 
          type="password" matInput placeholder="Your Password" ngModel name="password"
          required
          #passwordinput="ngModel">
          <mat-error *ngIf="passwordinput.hasError('required')">password must not be empty</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" style="margin-top: 20px;">Login</button>
    </form>
  </mat-card-content>
</mat-card>
</section>