<app-header></app-header>
<section fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="center" style="margin-top: 50px;">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
</section>

<!-- navbar
<header class="header">
  <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
    <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
      <i class="fas fa-align-left"></i>
    </a> <a href="index.html"
      class="navbar-brand font-weight-bold text-uppercase text-base">Spring Inventory
      Dashboard</a>
    <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
      <li class="nav-item">Welcome</li>
      <li class="nav-item dropdown ml-auto"><a id="userInfo"
        href="#" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"
        class="nav-link dropdown-toggle"><img src="assets/img/avatar-6.jpg"
          alt="Jason Doe" style="max-width: 2.5rem;"
          class="img-fluid rounded-circle shadow"></a>
        <div aria-labelledby="userInfo" class="dropdown-menu">
          <a href="#" class="dropdown-item"><strong
            class="d-block text-uppercase headings-font-family">Mark
              Stephen</strong><small>Web Developer</small></a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Settings</a><a href="#"
            class="dropdown-item">Activity log </a>
          <div class="dropdown-divider"></div>
          <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="dropdown-item">
          </form>
        </div></li>
    </ul>
  </nav>
</header>

container
<div class="d-flex align-items-stretch">
  <div id="sidebar" class="sidebar py-3">
    <div
      class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
      <li class="sidebar-list-item"><a href="index.html" th:href="@{/home}"
        class="sidebar-link text-muted" th:classappend="${currentPage == 'home'} ? 'active' : ''"><i
          class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
      <li class="sidebar-list-item"><a href="users.html" th:href="@{/admin/users}"
        class="sidebar-link text-muted" th:classappend="${currentPage == 'users'} ? 'active' : ''"><i
          class="o-user-1 mr-3 text-gray"></i><span>Users</span></a></li>
      <li class="sidebar-list-item"><a href="products.html" th:href="@{/products}"
        class="sidebar-link text-muted" th:classappend="${currentPage == 'products'} ? 'active' : ''"><i
          class="o-table-content-1 mr-3 text-gray"></i><span>Products</span></a></li>
      <li class="sidebar-list-item"><a href="warehouse.html" th:href="@{/warehouse}"
        class="sidebar-link text-muted" th:classappend="${currentPage == 'warehouse'} ? 'active' : ''"><i
          class="o-data-storage-1 mr-3 text-gray"></i><span>Warehouse</span></a></li>
    </ul>
  </div>
  <div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      <section class="py-5">
        <div class="row">
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div
                  class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-danger"></div>
                    <div class="text">
                      <h6 class="mb-0">Pending User</h6>
                      <span class="text-gray" th:text="${pendingUser}">145,14 GB</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-danger">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div
                  class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-success"></div>
                    <div class="text">
                      <h6 class="mb-0">All User</h6>
                      <span class="text-gray" th:text="${allUser}">32</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-success">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div
                  class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-blue"></div>
                    <div class="text">
                      <h6 class="mb-0">Products</h6>
                      <span class="text-gray" th:text="${allProduct}">400</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-blue">
                    <i class="fa fa-dolly-flatbed"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div
                  class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-warning"></div>
                    <div class="text">
                      <h6 class="mb-0">Warehouse</h6>
                      <span class="text-gray" th:text="${allWarehouse}">123</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-warning">
                    <i class="fas fa-receipt"></i>
                  </div>
                </div>
              </div>
        </div>
      </section>
    </div>
    <footer
      class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-left text-primary">
            <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
          </div>
          <div class="col-md-6 text-center text-md-right text-gray-400">
            <p class="mb-0">
              Design by <a href="https://bootstrapious.com/admin-templates"
                class="external text-gray-400">Bootstrapious</a>
            </p>
            Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
-->